<div id="header">
    <div id="logo">
        <a href="/home"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li class="{{#if selected.home}}selected{{/if}}">
                <a href="/home">Home</a>
            </li>
            <li class="{{#if selected.travel}}selected{{/if}}">
                <a href="/travel">Travel</a>
            </li>
            <li class="{{#if selected.rooms}}selected{{/if}}">
                <a href="/rooms">Rooms</a>
            </li>
            <li class="{{#if selected.meals}}selected{{/if}}">
                <a href="/meals">Meals</a>
            </li>
            <li class="{{#if selected.news}}selected{{/if}}">
                <a href="/news">News</a>
            </li>
            <li class="{{#if selected.about}}selected{{/if}}">
                <a href="/about">About</a>
            </li>
            <li class="{{#if selected.contact}}selected{{/if}}">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
